{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "settings": {
  	"import/resolver": "webpack"
  },
  "extends": [
  	"eslint:recommended",
  	"plugin:import/errors",
  	"plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "rules": {
    "eqeqeq": ["error", "smart"],
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "react/display-name": "off"
  }
}
